{% extends 'base.html' %}

{% block content %}
<head>
    <style>
        body{
            background-color: antiquewhite;
        }
        form{
            max-width: 250px;
            margin-left: 400px;
            margin-top: 20px;
            
          }
    </style>
</head>
<body>
{% if messages %}
    {% for message in messages %}
    <div style="color: red;">{{message}}</div>
    {% endfor %}
{% endif %}
<div class="container">
{% if user.is_authenticated %}
    <p style="text-align: center;">You are already logged in</p>
    <h3 style="text-align: center;">Welcome To Your Shopping website</h3>
    <p style="text-align: center;">Click Shopping.IN for Shopping</p>
    <p style="text-align: center;">Stay home stay safe</p>
    <img src="media/pics/42.jpg" width="50%" style="margin-left: 280px;">
{% else %}

<img src="media/pics/42.jpg" width="50%" style="margin-left: 280px; width:35%; ">
    <form method="POST" class="form-group">{% csrf_token %}
    {{form}}
    <br><br>
    <button type="submit" class="btn btn-outline-success my-2 my-sm-0" style="margin-left: 60px;">Log In</button>
    </form>
{% endif %}
</div>
{% endblock content %}
</body>