<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shopping.in</title>
    {% load static %}
    <link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container"></div>
    <div class="topnav">
        <a href="index.html" ><img src="{% static 'image/2.gif' %}" width="220px" height="40px"></a>
        <input type="text" placeholder="Search..">
        <a href="signin.html" ><img src="{% static 'image/3.jpg'%}" width="150px" height="35px"></a>
        <a href="cart.html" ><img src="{% static 'image/1.jpg'%}" width="50px" height="40px"></a>
      </div>
    </div>
    <div class="navbar">
        <nav>
            <ul>
                
                <li><a href="{% url 'mobile'%}">Mobiles</a></li>
                <li><a href="{% url 'Products'%}">Fashion</a></li>
                <li><a href="electronics.html">Electronics</a></li>
                
                
                
            </ul>
        </nav>

    </div>
    <div class="row-1">
        <div class="col-7">
            
            <img src="{{mf.Mimg.url}}">
            <button type="button">Buy now</button>
            <button type="button">Add to cart</button>
        </div>
    </div>
    <h4>{{ mf.Mname}}</h4>
    <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
    </div>
    <p>₹ {{mf.Mprice}}</p>
    <p>FREE delivery</p>
    <h3>Available offers</h3>
    <p> <b>*</b>Bank Offer 5% Unlimited Cashback on Flipkart Axis Bank Credit Card</p>
    __________________________________________________________________________
    <h2>In stock.</h2>
    <p>Size : {{mf.size}}</p>
    <p>Colour: {{mf.Mcolor}}</p>

</body>